body {
  overflow: hidden;
  background-color: #221e22;
}

.App {
  text-align: center;
  background: url("./assets/background.jpg");
  transition: 0.5s ease-in-out all;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px) grayscale(0.3);
}

.main-content {
  background-color: #221e22;
  border: 1rem outset #eca72c;
  min-width: 75vh;
  min-height: 75vh;
  border-radius: 100px;
  box-shadow: 0px 0px 20px 3px #2f2723;
  overflow: hidden;
}

.window-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
}

.blur {
  filter: opacity(0%) blur(10px);
}
